@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400');
@import url('https://fonts.googleapis.com/css?family=Kirang+Haerang:400');

html {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    min-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    color: #daa520;
    text-decoration: none;
}

.places {
    position: relative;
    color: white;
    line-height: 0.5em;
    font-size: 1.5em;
    min-height: 100%;
    min-width: auto;
    font-family: Playfair Display;
    align-self: center;
}

.place {
    padding: 10px 0px 10px 0px;
}

.nav {
    position: fixed;
    display: flex;
    align-content:center;
    top:2%;
    left: 2%;
    font-family: Kirang Haerang;
    font-size: 2em;
}

.nav-text {
    padding-left: 5px;
    padding-right: 5px;
}

#mapid {
    margin: 10% 10% 10% 10%;
    min-height: 300px;
    min-width: 500px;
    width: 60%;
    border-radius: 10px;
}