@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400');

html {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    min-height: 100%;
    display: inline-flex;
    /* flex-direction: row;
    justify-content: space-evenly; */
    align-items: center;

}

.places {
    color: white;
    line-height: 2em;
    font-size: 20px;
    display:flex;
    flex-direction: column;
    min-height: 600px;
    min-width: 200px;
    padding: 0px 30px 0px 30px;
    font-family: Roboto;
    /* border-right-width: 1px;
    border-color: white;
    border-style: dashed; */
}

.container {
    position:fixed;
    align-content:center;
    top:25%;
    right: 25%;
}


.go-back {
    position:fixed;
    align-content:center;
    top:2%;
    left: 2%;
}

#mapid {
    min-height: 600px;
    width: 600px;
    background-color: aquamarine;
    border-radius: 10px;
    /* margin: 30px 30px 30px 30px; */
}
/* 
#mapid { 
    min-height: 100%; 
} */


/* to-do
change font 
fix border
link button to homepage 
create links to map views, map story
*/