@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic:400');

html {
    height: 100%;
}

body {
    background-color: black;
    color: white;
    min-height: 100%;
    max-width: 100%;
    display: flex;
    flex-direction: row;
}

a:link, a:visited {
    color: white;
    text-decoration: none;
}

a:hover, a:active {
    color: #daa520;
    text-decoration: none;
}

.empty-container {
    min-height: 100%;
    max-height: 100%;
    min-width: 350px;
    width: 70%;
}
.places {
    color: white;
    line-height: 1em;
    font-size: 3.2em;
    min-height: 100%;
    min-width: auto;
    font-family: Roboto;
    align-self: center;
}

.place {
    padding: 10px 0px 10px 0px;
}

.go-back {
    position: fixed;
    align-content:center;
    top:2%;
    left: 2%;
    font-family: roboto;
    font-weight: 900;
}

#mapid {
    position: fixed;
    margin-left: 9%;
    margin-top: 9%;
    min-height: 600px;
    width: 50%;
    border-radius: 50px;
}